<div class="container ">
  <div class="card mx-4 mt-4 ">
    <div class="card-body" routerLink="/comics">
      <h5 class="card-title">Catálogo de Comics</h5><br>
    </div>
  </div>
  <div class="card mx-4 mt-4 ">
    <div class="card-body" routerLink="/juvenil">
      <h5 class="card-title">Catálogo de Juvenil</h5><br>
    </div>
  </div>
  <div class="card mx-4 mt-4 ">
    <div class="card-body" routerLink="/historia">
      <h5 class="card-title">Catálogo de Historia</h5><br>
    </div>
  </div>
  <div class="card mx-4 mt-4 ">
    <div class="card-body" routerLink="/educacion">
      <h5 class="card-title">Catálogo de Educación</h5><br>
    </div>
  </div>
  <div class="card mx-4 mt-4 ">
    <div class="card-body" routerLink="/api/programacion">
      <h5 class="card-title">Catálogo de Programación</h5><br>
    </div>
  </div>
</div>
