<div class="container">
  <div class="card_detalle mt-4" style="width: 17rem;">
    <div class="card-body">
      <h6 class="card-title">Detalle de la compra</h6><br>
    </div>
  </div>
  <div class="card_factura  mt-4" style="width: 17rem;">
    <div class="card-body">
      <h6 style="color:white" class="card-title">Factura de compra</h6><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="card mx-4 mt-4" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">La compra fue</h5><br>
      <p class="card-text">Exitosa...</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Nombre Completo</h6>
      <p class="card-text">{{allDetalle.idFactura.idUsuario.nombre+" "+allDetalle.idFactura.idUsuario.apellido }} </p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Correo electronico</h6>
      <p class="card-text">{{allDetalle.idFactura.idUsuario.correo}}</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Direccion</h6>
      <p class="card-text">{{allDetalle.idFactura.direccion}}.</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Items</h6>
      <tr class="woocommerce-cart-form__cart-item cart_item" *ngFor="let dato of allBooks | async" >
        <td class="imagen">
          <img src="{{dato.idLibro.imagen}}" class="card_imagen" />
        </td>
        <td class="nombre">
          <p class="card-text">{{dato.idLibro.nombreLibro}}</p>
        </td>
      </tr>
      <h6 class="card-subtitle mb-2 text-body-secondary">Medio de pago</h6>
      <p class="card-text">{{allDetalle.idFactura.idMedioPago.medioPago}}</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Total</h6>
      <p class="card-text">{{allDetalle.idFactura.totalCompra}}</p>
    <button class="btn btn-primary" routerLink="/Catalogo">Finalizar</button>
    </div>
  </div>
</div>
