<div class="container">
  <div class="card_detalle mt-4" style="width: 17rem;">
    <div class="card-body">
      <h6 class="card-title">Detalle de la compra</h6><br>
    </div>
  </div>
  <div class="card_factura  mt-4" style="width: 17rem;">
    <div class="card-body">
      <h6 style="color:white" class="card-title">Fatura de compra</h6><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="card mx-4 mt-4" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">La compra fue</h5><br>
      <p class="card-text">Exitosa...</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Nombre Completo</h6>
      <p class="card-text">nombre...</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Correo electronico</h6>
      <p class="card-text">correo...</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Direccion</h6>
      <p class="card-text">direccion...</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Items</h6>
      <p class="card-text">items agregar ngfor...</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Medio de pago</h6>
      <p class="card-text">medio...</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Total pagado</h6>
      <p class="card-text">total...</p>
    </div>
  </div>
</div>
