<div class="container ">
  <div class="card mx-4 mt-4 " style="width: 20rem">
    <div class="card-body">
      <h5 class="card-title">Pagina Principal</h5><br>
        <div class="mb-3">
          <label for="nombre" class="form-label">Si tiene una cuenta, inicie sesión</label><br>
          <button type="button" class="btn btn-primary" (click)="goLogin()" >Iniciar Sesion</button><br><br>
        <div class="mb-3">
          <label for="correo" class="form-label">Si no tiene cuenta, registrese</label><br>
          <button type="button" class="btn btn-primary" (click)="goRegistro()" >Registrarse</button>
        </div>
    </div>
  </div>
</div>
