<h3>Catálogo de Juvenil</h3>
<div class="container">
  <div class="card_fila" *ngFor="let dato of allBooks | async" style="width: 20rem;" >
    <div class="card me-4" style="width: 20rem;" >
      <div class="card-body" >
        <h2>{{dato.nombreLibro ? dato.nombreLibro : "Sin nombre"}}</h2>
        <img src="{{dato.imagen}}" class="card_imagen" />
        <div class='card_text'>
          <p></p>
          <p>{{dato.descripcion ? dato.descripcion : "Sin descripción"}}</p>
          <h5>Creadores: </h5>
          <p>{{dato.autor ? '- '+dato.autor : "No parecen creadores"}}</p>
         <h5>Lenguaje: </h5>
           <p>{{dato.idioma ? '- '+dato.idioma : ""}}</p>
          <h5>Número de paginas: </h5>
          <p>{{dato.numeroPagina ? dato.numeroPagina : ""}}</p>
          <h5>Publicado por: </h5>
          <p>{{dato.fechaPublicacion ? dato.fechaPublicacion : ""}} en {{dato.publisher_date}}</p>
        </div><br>
        <button class="btn btn-primary" type="button" (click)="addCarro(dato.idLibro)" >Agregar</button>
      </div>
    </div>
  </div>
</div>
