.card {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.438);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  width: 100vh;
  height: 100%;
}

button{
  display: block;
  padding: 0.5rem 1rem;
  width: 200px;
  margin: 0 auto;
}

.card_detalle {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.438);
  transition: 0.3s;
  background-color:mediumblue;
  height: 55px;
}
.card_factura {
  background-color: whitesmoke;
  height: 55px;
}
.card-title{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: (2,1fr);
}
.container{
  display: flex;
  justify-content: center;
}
.card_imagen {
  margin: 10px;
  width: 40%;
  height: 40%;
}

