.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  grid-auto-rows: minmax(80px, auto);
}
.carrito {
  text-align: right;
}
.search{
  text-align: left;
}

.navbar-brand{
  text-align: center;
}
